body{
  margin: 0vw;
  overflow-x: hidden;
  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav{
   padding-left: 3%;
   height: 3.4vw;
    color: black;
    border-bottom: 0.07vw solid;
    background-color: rgb(255, 255, 255);
    color: #c3c6cb;
    border-color: rgb(214, 209, 210);
}
img{
  height:auto;max-width:100%
}

h4 {
  font-weight: bold;
  font-size: 170%;
}

#promp img{
    display: inline-block;
    margin-left: 6%;
    height:auto;max-width:100%
}

#prom button{
    border-radius: 50%;
    color: black;
    border: none;
    
    font-weight: 600;
    padding-left: 1.3%; padding-right: 1.3%;
    background-color: rgb(228, 235, 232);

    
}


#abc{
  margin-left: 35%;
  margin-top: 1%;

}
#abc button{
  border-radius: 50%;
  color: black;
  
  border: none;
  font-weight: 600;
}
#popup{
  font-weight: 500;
}
  
.footer-basic {
    padding:40px 0;
    background-color:#060505;
    color:#fff8f8;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(255, 255, 255);
    margin-bottom:0;
  }
  #promp img:hover {
    
    opacity:0.9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  #promp button:hover,
  #prom button:hover,   #proceed:hover{
   
    opacity:0.9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
  }




/* Button used to open the contact form - fixed at the bottom of the page */


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  z-index: 100;
  margin-left: 35%;
  margin-top: 2%;
  align-items: center;
  border: 3px solid #e5e5e5;
  width:35%;
  padding: 2%;
  background-color: white;
  box-shadow:100%;
}

#abc button{
  padding-left: 1.3%; padding-right: 1.3%;

}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

